<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <title>Student Detail</title>
</head>
<body>
<h1>The details of the selected student</h1>
<table class="table table-hover">
    {% for x in student %}
    <tr>
        <td>student Name :</td>
        <td>{{ x.studentName }}</td>
    </tr>
    <tr>
        <td>student Year :</td>
        <td>{{ x.studentYear }}</td>
    </tr>
    <tr>
        <td>student Dept :</td>
        <td>{{ x.studentDept }}</td>
    </tr>
    <tr>
        <td>student class :</td>
        <td>{{ x.studentClass }}</td>
    </tr>
    {% endfor %}
</table>
</body>
</html>