<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <title>Register</title>
</head>
<body>
<h1>Enter the details of the student</h1>

<form action="" method="post" class="form-horizontal" role="form">
    {% csrf_token %}
    {{ form.as_ul }}
    <input  class="btn btn-default" type="submit" value="Register"/>
</form>
</body>
</html>